body {
  padding: 0;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
}

canvas {
  position: relative;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 600px;
}

#input {
  margin-bottom: 20px;
  height: 50px;
  font-size: 24px;
  width: 90%;
  outline: none;
  border: 1px solid grey;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
  text-align: center;
}

button {
  font-family: Courier, monospace;
  border: none;
  background: #1ba0de;
  color: white;
  font-size: 24px;
  border-radius: 5px;
  height: 49px;
  width: 190px;
}

button:hover {
  cursor: pointer;
}

p {
  color: orangered;
  font-size: 32px;
}

#form {
  position: absolute;
  width: 300px;
  top: 56%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

#input::placeholder {
  color: #999;
  margin-left: 10%;
  text-align: center;
}

#input::-webkit-input-placeholder {
  text-align: center;
}

#response {
  font-size: 32px;
  color: greenyellow;
  margin-bottom: 3px;
  width: 90%;
  text-align: center;
}

#submitting {
  width: 90%;
  font-size: 32px;
  color: white;
  margin-bottom: 3px;
  text-align: center;
}

/* Browsers 800px and below just for view because it only works with a keyboard */
@media screen and (max-width: 800px) {
  canvas {
    min-width: 100vw;
    min-height: 100vh;
  }
}
